    
    <div class="jumbotron" id="user-jumbmtron">
        <h1 class="display-4 text-center text-primary"> your shortened URL's: </h1>
        <hr class="my-3 text-center">
        <p class="my-2 text-center"> you can easily shorten more URL's or modify / delete your older ones</p>

    </div>
    <% if session[:short_url] && (session[:short_url] != "Bad Url" )%>
    <form class="text-center" action="/urls" method="POST">
        <input type="text" class="col-sm-4 url-input" name="long_url" id="myInput" value="<%= "#{ENV['BASE_URL']}#{session[:short_url]}" %>">
        <button type="button" class="btn btn-warning btn-md" onclick="copyText()">Copy</button> 
        <input type="submit" class="btn btn-warning btn-lg" value="Shorten my URL">
    </form>
    <% elsif session[:short_url] %>
       <form class="text-center" action="/urls" method="POST">
        <input type="text" class="col-sm-4 url-input" name="long_url" id="myInput" value="<%= "#{session[:short_url]}. Try again!" %>">
        <input type="submit" class="btn btn-warning btn-lg" value="Shorten my URL">
    </form>
    <% else %>
    <form class="text-center" action="/urls" method="POST">
        
        <input type="text" class="col-sm-4 url-input" name="long_url" placeholder="Enter URL here!">

        <input type="submit" class="btn btn-warning btn-lg" value="Shorten my URL">
    </form> 
    <% end%>
    <%=erb :"users/user_urls"%>