.head {
    position: relative;
    /* background-image: url("https://ak7.picdn.net/shutterstock/videos/9515537/thumb/1.jpg"); */
    clip-path: polygon(50% 0%, 100% 0, 100% 35%, 100% 74%, 100% 74%, 45% 50%, 0 70%, 0% 70%, 0% 35%, 0 0);
}
.jumbotron {
    background-color: white;
    width: 50%;
    margin: 20% 25%;
}

.jumbotron h1 {
    font-size: 2rem
}

.btn {
    width: 50%;
    border: 1px solid ;
    padding: 2%;
}

.btn-outline-primary {
    border-radius: 20px;
}

.btn-primary {
    border-radius: 20px;
}

.login-sign-up-buttons {
    width: 100%;
    margin-left: 25%;
}