.head {
    position: relative;
    /* background-image: url("https://ak7.picdn.net/shutterstock/videos/9515537/thumb/1.jpg"); */
    clip-path: polygon(0% 0%, 100% 0, 100% 35vh, 50% 25vh, 0% 35vh);
    height: 40vh;
}
.jumbotron {
    background-color: white;
    width: 50%;
    margin: 10vh 25%;
}

.jumbotron h1 {
    font-size: 2rem
}

.btn {
    width: 50%;
    border: 1px solid ;
    padding: 2%;
}

.btn-outline-primary {
    border-radius: 20px;
}

.btn-primary {
    border-radius: 20px;
}

.login-sign-up-buttons {
    width: 100%;
    margin-left: 25%;
}
.banner-img{
    width: 100%;
}



