
<%# NEWFEED  %>
<hr>
<div class="newfeed">
        <%# one tweet %>
        <div class="tweet">
            <div class="card shadow-sm" style="">
                <div class="card-body" style="width:100%;">
                    <h5 class="card-title"><a href="/ tweet.user_id.user_name "> Zahar </a></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><a href="/ tweet.user_id.user_name "></a> @zahar </a></h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <hr>
                    <div class="tweet-actions" style="text-align:center;">
                        <a href="tweet.reply" class="card-link"> REPLY | 5</a>
                        <a href="tweet.retweet" class="card-link"> RETWEET | 5</a>
                        <a href="tweet.like" class="card-link"> Like | 10</a>
                
                    </div>
                </div>
            </div>
        </div>
     
         <%# one tweet %>
        <div class="tweet ">
            <div class="card shadow-sm" style="">
                <div class="card-body" style="width:100%;">
                    <h5 class="card-title"><a href="/ tweet.user_id.user_name "> Zahar </a></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><a href="/ tweet.user_id.user_name "></a> @zahar </a></h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <hr>
                    <div class="tweet-actions" style="text-align:center;">
                        <a href="tweet.reply" class="card-link"> REPLY | 5</a>
                        <a href="tweet.retweet" class="card-link"> RETWEET | 5</a>
                        <a href="tweet.like" class="card-link"> Like | 10</a>
                    </div>
                </div>
            </div>
        </div>

    
</div>