
<div class="card shadow-sm" style="">
<div class="card-body" style="width:100%;">

    <div>
        <form action="/tweet" method="POST" >
            <input type="text" name="tweet" placeholder="What's Happening">
            <button style="width:100%;" type="submit" value="tweet" class="button">Tweet</button>
        </form>
    </div>
</div>
</div>

<%# NEWFEED  %>
<hr>
<div class="newfeed">
        <%# one tweet %>
        <%@tweets.each do |tweet| %>

        <div class="tweet">
            <div class="card shadow-sm" style="">
                <div class="card-body" style="width:100%;">
                    <h5 class="card-title"><a href="/ tweet.user_id.user_name ">@user.name </a></h5>
                    <h6 class="card-subtitle mb-2 text-muted"><a href="/ tweet.user_id.user_name "></a>@user.nickname </a></h6>
                    <p class="card-text">tweet.text</p>
                    <hr>
                    <div class="tweet-actions" style="text-align:center;">
                        <a href="tweet.reply" class="card-link"> REPLY | 5</a>
                        <a href="tweet.retweet" class="card-link"> RETWEET | 5</a>
                        <a href="tweet.like" class="card-link"> Like | 10</a>
                
                    </div>
                </div>
            </div>
        </div>
        <% end %>
    
</div>