

<div class="container">
    <header>
        <div class="head">
            <i class="fab fa-twitter"></i>
            <img class="banner-img" src="https://ak7.picdn.net/shutterstock/videos/9515537/thumb/1.jpg" alt="blue-box">
        </div>
    </header>
    <div class="jumbotron">
        <h1 class="display-4">See what is happening in the world right now</h1>
        <br>
        <p class="lead"> Join twitter today</p>
        <div class="login-sign-up-buttons">
            <div class="login-button">
                <a class="text-white" href="/registrations/signup"><button type="button" class="btn btn-primary btn-radius">Sign Up</button></a>
            </div>
            <div class="sign-up-button">
                <a href="/sessions/login"><button type="button" class="btn btn-outline-primary btn-radius">Login</button></a>
            </div>
        </div>
    </div>
</div>