<header>
        <div class="head">
            <img src="https://ak7.picdn.net/shutterstock/videos/9515537/thumb/1.jpg" alt="blue-box">
        </div>
    </header>
    <div class="jumbotron">
        <h1 class="display-4">See what is happening in the world right now</h1>
        <br>
        <p class="lead"> Join twitter today</p>
        <div class="login-sign-up-buttons">
            <div class="login-button">
                <button type="button" class="btn btn-primary btn-radius"><a href="/registrations/signup">Sign Up</a></button>
            </div>
            <div class="sign-up-button">
                <button type="button" class="btn btn-outline-primary btn-radius"><a href="/sessions/login">Login</a></button>
            </div>
        </div>
    </div>