<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://kit.fontawesome.com/3a789924e4.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/user_home_stylesheet.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ZASTTER</title>
</head>
<body>
     <%# NAVBAR  %>
        <div class="topnav shadow-sm"> 
            <a href="/users/home">HOME</a>
            <div id="profile"><a href='/sessions/logout'>SIGNOUT</a></div>
            <div id="profile"><a href='/users/profile'><%=@user.name%></a></div>
            <%# <div class="search" style="width:40px;"> %>
                <%# <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                 <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> %>
            <%# </div> %>
        </div>

    <div class="container">
        <div class="row">

            <div class="col left-col">
                 <%# ProfileCard  %>
                <div class="card shadow-sm" style="">
                <div class="card-body" style="width:100%;">
                        <h5 class="card-title"><a href="/ tweet.user_id.user_name "> <%=@user.name.upcase%></a></h5>
                        <h6 class="card-subtitle mb-2 text-muted"><a href="/ tweet.user_id.user_name "></a><%=@user.nickname%></a></h6>
                    
                    <div style="text-align:center;" >
                        <div class="ProfileCard-status">
                            <a href="#">tweets</a>
                            <br>
                            <a href="#">6</a>
                        </div>
                        <div class="ProfileCard-status">
                            <a href="#">followers</a>
                            <br>
                            <a href="#">6</a>
                        </div>
                        <div class="ProfileCard-status">
                            <a href="#">following</a>
                            <br>
                            <a href="#">6</a>
                        </div>
                    </div>

                </div>
                </div>


            </div>

            <div class="col-6">
                <div class="container">
                  
                    <%= yield %>
                </div>
            </div>

            <div class="col right-col">
            <div class="card shadow-sm" style="">
                <div class="card-body" style="width:100%;">
                <div class="WhoToFollow">
                    <h3>Who To Follow</h3>
                    <div>

                        <div>
                            Adil | @adil
                            <br>
                            <button style="width:30%;" type="button" value="Submit" class="button">Tweet</button>
                            <hr>
                        </div>

                        <div>
                            Adil | @adil
                            <br>
                            <button style="width:30%;" type="button" value="Submit" class="button">Tweet</button>
                            <hr>
                        </div>

                    </div>  
                </div>
                <%# <hr> %>
                <div>
                     COPYRIGHT 
                    <div class="CopyRight">
                        <a href="https://yourwebsite.com">© COPYRIGHT 2019 | YOURWEBSITE.COM</a>
                    </div>
                </div>
                

            </div>
        </div>
         </div>
        </div>
    </div>
  
    
         
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>